In [11]:
from time import sleep

import pandas as pd
import requests

In [12]:
csv_location = 'https://raw.githubusercontent.com/nealcaren/CSSS-CABD/master/files/locations.csv'
address_df = pd.read_csv(csv_location)

address_df.head()

                                       location
0                      L Street, Sacramento, CA
1         University of Connecticut, Storrs, CT
2  University of Connecticut Campus, Storrs, CT
3    West Hartford Town Hall, West Hartford, CT
4                   Legislative Hall, Dover, DE

In [13]:
address_df['dog_count'] = 3
address_df.head()

                                       location  dog_count
0                      L Street, Sacramento, CA          3
1         University of Connecticut, Storrs, CT          3
2  University of Connecticut Campus, Storrs, CT          3
3    West Hartford Town Hall, West Hartford, CT          3
4                   Legislative Hall, Dover, DE          3

In [14]:
def many_dogs(dog_count):
    return dog_count * 5

In [15]:
address_df.head()

                                       location  dog_count
0                      L Street, Sacramento, CA          3
1         University of Connecticut, Storrs, CT          3
2  University of Connecticut Campus, Storrs, CT          3
3    West Hartford Town Hall, West Hartford, CT          3
4                   Legislative Hall, Dover, DE          3

In [17]:
address_df['even_more_dogs'] = address_df['md'].apply(many_dogs)
address_df.head()

                                       location  dog_count  md  even_more_dogs
0                      L Street, Sacramento, CA          3  15              75
1         University of Connecticut, Storrs, CT          3  15              75
2  University of Connecticut Campus, Storrs, CT          3  15              75
3    West Hartford Town Hall, West Hartford, CT          3  15              75
4                   Legislative Hall, Dover, DE          3  15              75

In [19]:
address_df.drop(['even_more_dogs'], axis=1, inplace=True)
address_df.head()

                                       location
0                      L Street, Sacramento, CA
1         University of Connecticut, Storrs, CT
2  University of Connecticut Campus, Storrs, CT
3    West Hartford Town Hall, West Hartford, CT
4                   Legislative Hall, Dover, DE

In [9]:
def get_latlong(address):
    '''
    takes an address and returns the lat long dictionary
    the end thing must be called latlng
    '''
     # your code here!

    sleep(5)
    return latlng

### Advanced mission: 
- Get your API key and add it. Then you can do it quicker.
- Have latitude and longitude as seperate variables. (There is away to do this by making a new call to the API, or you can write a function and apply it.)


### Next mission:
- Visit this [list of public APIs](https://github.com/toddmotto/public-apis). Pick one. Read about it. Play around with it. Use it in Python.